src/three.js-master/
!src/three.js-master/three.min.js

src/images/
!src/images/textures/moon/moon_1024.jpg
!src/images/textures/sun/8k_sun.jpg
!src/images/textures/floor/Grass.jpg
!src/images/particles/star_01.png
!src/images/particles/star_02.png
!src/images/particles/star_03.png
!src/images/particles/star_04.png
!src/images/particles/star_05.png
!src/images/MTLOBJ/pirate/Models/OBJ/tower.obj
!src/images/MTLOBJ/pirate/Models/OBJ/tower.mtl
!src/images/MTLOBJ/nature/OBJ/tree_pine_tallSquare_detailed.obj
!src/images/MTLOBJ/nature/OBJ/tree_pine_tallSquare_detailed.mtl
!src/images/MTLOBJ/lamp/lamp.obj
!src/images/MTLOBJ/lamp/lamp.mtl